:root {
    --color-white: hsl(0, 50%, 100%);
    --color-black: hsl(0, 50%, 0%);

    --color-aqua: hsl(193, 73%, 51%);
    --color-gray: hsl(0, 0%, 73%);
    --color-magenta: hsl(252, 78%, 69%);
    --color-purple: hsl(276, 88%, 20%);
    --color-purple-light: hsl(276, 80%, 69%);
    --color-purple-dark: hsl(252, 78%, 57%);

    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
    --font-size-lg: clamp(1rem, 10vw + 1rem, 3.2rem);

    --font-size-md: clamp(0.8rem, 9vw + 1rem, 1.2rem);

    --font-size-sm: clamp(0.6rem, 8vw + 1rem, 0.8rem);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

h1,
h2 {
    margin: 0;
}
