.container {
    min-width: 100vw;
    min-height: 100vh;
}

/* section 1 */

.content {
    display: flex;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    gap: 1.5em;
    background-color: red;
    padding: 1em;
}
.article {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transform: translateX(-1.4rem);
}

.text-article {
    font-size: var(--font-size-md);
    font-weight: 300;
}
/* Section 2*/
.header--sec2 {
    margin-top: 5em;
    margin-bottom: 3em;
}
.description {
    font-size: 1.1rem;
}
.container-features {
    display: flex;
    flex-wrap: wrap;
}
.img-features,
.features {
    height: 35rem;
}
.img-features {
    object-fit: cover;
    max-width: min(100%, 35rem);
}

.features {
    margin-left: 1.5em;
    display: flex;
    width: 35rem;

    flex-wrap: wrap;
    gap: 1.5em;
}
.key-features {
    width: calc(50% - 1.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.feature-icon-reverse {
    background-color: white;
}

.key-features img {
    height: 60px;
}

.feature-icon-reverse img {
    transform: scale(1.2);
}
.key-features:nth-child(1) {
    background-color: var(--color-aqua);
}
.key-features:nth-child(2) {
    background-color: var(--color-magenta);
}
.key-features:nth-child(3) {
    background-color: var(--color-purple-dark);
}
.key-features:nth-child(4) {
    background-color: var(--color-purple-light);
}
