.title--1 {
    font-size: var(--font-size-lg);
}

.title--2 {
    font-size: var(--font-size-md);
}

.color--black {
    color: var(--color-black);
}
.color--white {
    color: var(--color-white);
}
.color--gray {
    color: var(--color-gray);
}
.color--aqua {
    color: var(--color-aqua);
}

.bg--purple {
    background-color: var(--color-purple);
}
.txt--center {
    text-align: center;
}
.bg--white {
    background-color: var(--color-white);
}

.bg--aqua {
    background-color: var(--color-aqua);
}
.bg--magenta {
    background-color: var(--color-magenta);
}
.bg--purple-dark {
    background-color: var(--color-purple-dark);
}
.bg--purple-light {
    background-color: var(--color-purple-light);
}

.button {
    display: block;
    text-align: center;
    height: 2rem;
    width: min(100%, 280px);
    font-size: var(--font-size-md);
    padding: 0.4em 0;
}

.button--primary {
    background-color: var(--color-aqua);
    color: var(--color-white);
    border-radius: 40px;
}

.hidden {
    display: none;
}

.absolutely-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title--light {
    font-weight: 300;
}

.front {
    z-index: 10;
}
.back {
    z-index: -10;
}

.text--center {
    text-align: center;
}
